body {
  background: #213b57 url(../images/bg.jpg);
}

a { color: #f85204; text-decoration: none; }
a:hover { text-decoration: underline; }

#header, #footer { color: #93a4b8; }
#header a, #footer a { color: #c8ced5; }
#header h1 a, #footer h1 a { color: #fff; }
#footer .btn { color: #fff; }

#readme { 
  display: none; 
  left: 0px; 
  position: absolute; 
  top: 320px; 
}

#search-form {
  margin-top: 20px;
}

#timeline-chart { height: 300px; }

/* Expanded rows */
#breakdown .expanded-content td {
  border-top: 0;
  padding-top: 20px;
}

#breakdown .expanded-head td {
  border-top: 2px solid #7f7f7f;
  font-weight: bold;
}

.expanded-primary { float: left; width: 48%; }
.expanded-secondary { float: right; width: 48%; }

/* Nav */
#breakdown-nav { margin-top: -1px; }
#breakdown-nav a { display: block; padding: 0.4em 1em 0.3em; }
#breakdown-nav li { float: left; }
#breakdown-nav li.current { background: #264870; color: #fff; padding: 0.4em 1em 0.3em; }
#breakdown-nav ul { list-style: none; margin: 0; }

/* Scorecard */
#scorecard { border-top: 3px solid #264870; margin: 0; }
#scorecard h2 { font-size: 20px; }
#scorecard h2, #scorecard p { margin: 0; }
#scorecard td { border: 1px solid #ddd; border-bottom: 0; padding: 0.8em 10px; width: 25%; }
#scorecard td#scorecard-desc { width: 50%; }  

/* Stats */
.stats { list-style: none; margin: 0 0 0.5em 0; }
.stats li { display: inline; margin-right: 1em; white-space: nowrap; }
.stats strong { font-size: 25px; }

/* Sparklines */
.sparkline { height: 120px; margin-bottom: 15px; }

.well {
  background-color: #fff;
}