body {
  background: #ffffff;
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 { color: #004B75; }

a { color: #2BABE2; text-decoration: none; font-weight: bold;}
a:hover { color: #23387E; text-decoration: underline; }
a.details:hover, a.details:active, a.details:visited, a.details:link { text-decoration: none;}
a:focus { outline: 0;}

#logo, #credit { padding: 10px 0 10px 0; max-height: 120px;}
#logo { padding-bottom: 0;}
#logo img {
  max-height: 80px;
  display: inline;
}
#logo span{
  display: inline;
  font-size: 3em;
  vertical-align: bottom;
  font-family: "Helvetica", "Arial", serif;
  color: #004B75;
}
#header{ 
  color: #333333;
  background-color: #E8EDEE;
  margin-bottom: 20px;
   }
#footer{
  padding-top: 4px;
  padding-bottom: 4px;
  color: #333333;
/*  background-color: #E8EDEE;
*/}

#footer h2{
  color: #F6A704;
}

#footer a{
  font-weight: normal;
}

#footer .btn { color: #fff; }

.btn-primary {
  background-color: #004B75;
  border-color: #004B75;
}

.btn-primary:hover {
  background-color: #1f3a71;
  border-color: #1f3a71;
}

.btn-info {
  background-color: #fff;
  color: #2BABE2;
  border: 2px solid #2BABE2;
}

.btn-info:hover {
  background-color: #def2fb;
  color: #2BABE2;
  border: 2px solid #2BABE2;
}

#readme {
  display: none;
  left: 0px;
  position: absolute;
  top: 320px;
}

#timeline-chart {
  height: 180px;
  width: 100%;
  min-width: 500px;
}

#main-chart {
    min-height: 200px;
    width: 100%;
    min-width: 500px;
}

#breadcrumbs { font-weight: bold; font-size: 20px; }

/* Breakdown table */
#breakdown{
  width: 100%;
  min-width: 500px;
}
#breakdown a { cursor: pointer; }
#breakdown .num { text-align: right; }
#breakdown td, #breakdown th { border: 0px; border-bottom: 1px solid #ddd; font-size: 14px; }
#breakdown th { background: #dddddd; font-size: 12px; font-weight: bold; text-align: left; }
#breakdown th.bars { width: 15%; }
/*#breakdown th.controls { width: 20px; }*/
#breakdown th span { color: #1b3364; cursor: pointer; }

#breakdown th.sorting_asc span {
  background: url(../images/sort-up.png) no-repeat 100% 50%;
  padding-right: 10px;
}

#breakdown th.sorting_desc span {
  background: url(../images/sort-down.png) no-repeat 100% 50%;
  padding-right: 10px;
}

/* Bars */
  .bars span { height: 12px; display: block; text-indent: -5000px; margin: 4px;}

.bars .estimates {
    background-color: #6e6e6e;
    border-left: solid 2px #6e6e6e;
}
.bars .actuals {
    background-color: #23387E;
    border-left: solid 2px #23387E;
}

  /* Colors */
  .estimates { color: #6e6e6e; }
  .actuals { color: #23387E; }

/* Expanded rows */
#breakdown .expanded-content td {
  border-top: 0;
  padding-top: 20px;
}

#breakdown .expanded-head td {
  border-top: 2px solid #7f7f7f;
  font-weight: bold;
}

.expanded-primary { float: left; width: 48%; margin-left: 10px; }
.expanded-secondary { float: left; width: 48%; }

/* Nav */
a.breakdown-choice{
  font-weight: normal;
  color: #333;
  background-color: #bbb;
}
a.breakdown-choice:hover{
  color: #333;
  background-color: #ddd;
  text-decoration: none;
}


#breakdown-nav { margin-top: -1px;}
#breakdown-nav li {display: inline-block;}
#breakdown-nav a { display: block; padding: 0.3em 0.5em 0em 0.5em; }
#breakdown-nav li.current a { 
  color: #333;
  background-color: #ddd;
}
#breakdown-nav ul { list-style: none; margin: 0; padding: 0; }

#department-search { margin: 50px 0 10px 0; }
#department-search a { color: #fff; }

/* Scorecard */
#scorecard{
  width: 100%;
  min-width: 500px;
}
#scorecard { border-top: 3px solid #dddddd; margin: 0; }
#scorecard h2 { font-size: 20px; }
#scorecard h2, #scorecard p { margin: 0; }
#scorecard td { border-bottom: 0; padding: 0.8em 10px;}
#scorecard-actual, #scorecard-est { text-align: right; }

/* Stats */
.stats { list-style: none; margin: 0 0 0.5em 0; }
.stats { padding: 0; }
.stats li { display: inline; margin-right: 1em; white-space: nowrap; padding: 0;}
.stats strong { font-size: 25px; }

/* Sparklines */
.sparkline { height: 120px; margin-bottom: 10px; }

.well {
  background-color: #fff;
}

.about { font-size: 16px;}

.tooltip > .tooltip-inner{
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

/* Inflation Adjustment Switch */
#inflation-toggle{
  width: 160px;
  height: 30px;
}
#inflation-toggle-label{
  position:absolute;
}
#inflation-toggle-switch{
  margin-left: 100px;
  position:absolute;
}
.onoffswitch {
  position: relative; width: 50px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
  font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "on";
  padding-left: 10px;
  background-color: #B4E0B3; color: #333333;
}
.onoffswitch-inner:after {
  content: "off";
  padding-right: 10px;
  background-color: #EEEEEE; color: #333333;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 7px; margin: 6.5px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 26px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}