<td colspan='4'>
    <div class='row'>
        <div class='col-md-5'>
            <h2 class="rowName"><%= model.get('rowName') %></h2>
            <p class='expanded-description'>
                <%= model.get('description') %>
            </p>
            <ul class='stats'>
                <li>
                  <a href="javascript://" class="breakdown"
                      data-type="<%= model.get('type')%>"
                      data-slug="<%= model.get('slug') %>"
                      data-child="<%= model.get('child') %>"
                  >
                      Breakdown by <%= model.get('child') %> &raquo;
                    </a>
                </li>
            </ul>
        </div>
        <div class='col-md-7'>
            <div class='sparkline' id='<%= model.get('rowId') %>-selected-chart' data-objid='<%= model.get('rowId') %>' data-objtype='<%= model.get('type') %>'></div>
            <ul class='stats'>
              <li id='sparkline-actual'></li>
            </ul>
        </div>
    </div>
</td>
